# Dependencies
**/node_modules/

# Environment files & Secrets
**/.env
**/.env.local
**/.env.*.local

# Logs
*.log
**/logs/

# OS metadata
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
